<nav>
    <ul>
        <li id=></li>
        
    </ul>


</nav>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Header",
      "options": [
        {
          "value": "test",
          "label": "Testing"
        }
      ]
    }
  ]
}
{% endschema %}
