{% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
        <div class="slide" {{ block.shopify_attributes }}>
          {{ block.settings.tekstveld }}
        </div>
      ...
    {% endcase %}
  {% endfor %}

{% schema %}
{
  "name": "Tekstvak",
  "tag": "section",
  "class": "tekstvak",
  "blocks": [
    {
      "name": "tekstveld",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "tekstveld",
          "default": "schrijf hier iets gewoon",
          "label": "Tekstveld"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tekstvak",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}